.home-card {
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 35px;
  background: #f7f4f4;
  box-shadow: -12px 12px 25px #d4d4d4, 12px -12px 25px #ffffff;
}

.home-card-img img {
  width: 70%;
  height: 270px;
  padding-top: 20px;
}

.doctor-name {
  font-size: 1.2rem;
  margin-top: 18px;
  color: #172048;
}

.home-card-text {
  font-size: 14px;
  margin-top: 20px;
}

.home-card-socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0px;
}

.home-card-socials i {
  font-size: 28px;
  color: #87898c;
}

.hr-1 {
  width: 35%;
  margin: 20px auto;
  height: 4px;
  background: linear-gradient(180deg, #57cdcd 0%, #27c9fe 100%);
  /* background-color: #171717; */
  border-radius: 5px;
  border: none;
}

.star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 35px;
}
.on {
  color: #ffd700;
}
.off {
  color: #ccc;
}
