.navbar {
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  text-transform: capitalize;
  background-color: #f4feff;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  margin-left: 15px;
  font-size: 19px;
  font-weight: 800;
  background: linear-gradient(127deg, #56e0e0 0%, #007299 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  color: #6e6e6e;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
